In [30]:
import pandas as pd
import random
import numpy as np
import datetime

def create_datasets():
    # Create a list of 50 names
    names = ['John', 'Jane', 'Jim', 'Joan', 'Jake', 'Jill', 'Jerry', 'Jessica', 'Jordan', 'Justin'] * 10
    last_name = ['Gray', 'Jones', 'Richards', 'Vargas', 'Hendrix', 'Moore', 'Nichols', 'Wharton', 'Cox', 'Zaldin'] * 10
    # Create a list of 50 random ages
    ages = [random.randint(20, 40) for i in range(100)]

    # Create a list of 50 random dates
    dates = [datetime.datetime.now().date() - datetime.timedelta(days=random.randint(1, 365)) for i in range(100)]

    # Create a list of 50 random scores
    scores = [random.uniform(50, 100) for i in range(100)]

    # Combine the lists into a dictionary
    data = {'Name': names, 'Age': ages, 'Date': dates, 'Score': scores, 'Last_name': last_name}

    # Convert the dictionary to a Pandas dataframe
    df = pd.DataFrame(data)

    # Add missing data to the dataframe
    df['Name'] = df['Name'].apply(lambda x: np.nan if random.random() < 0.1 else x)
    df['Age'] = df['Age'].apply(lambda x: np.nan if random.random() < 0.1 else x)
    df['Date'] = df['Date'].apply(lambda x: np.nan if random.random() < 0.1 else x)
    df['Score'] = df['Score'].apply(lambda x: np.nan if random.random() < 0.1 else x)
    df['Last_name'] = df['Last_name'].apply(lambda x: np.nan if random.random() < 0.1 else x)
    
    # Add duplicate rows to the dataframe
    #df = pd.concat([df] * 2, ignore_index=True)
    df = pd.concat([df.sample(random.randint(1, 50)), df], ignore_index=True)
    return df



df1 = create_datasets()
df2 = create_datasets()

df1.to_csv('test_scores_1982.csv', index=False)
df2.to_csv('test_scores_2001.csv', index=False)

# Problem 1

1. Read both CSV files into a pandas dataframes and extract some basic information about the data.

2. Clean and pre-process the data by handling missing values, converting data types, and removing duplicates.

3. Group the data by one or more columns and calculate the mean, sum, count, and other statistics for each group.

4. Merge two or more dataframes based on a common column and apply various join operations (inner join, outer join, left join, right join).

5. Filter the data based on conditions and extract rows that meet specific criteria. (make up any condition)

6. Save the data to a file in various formats such as CSV and Excel.

# Problem 2

   A. Import test_scores_1982.csv
   
   B. Convert the 'Date' column to a datetime type. 
   
   C. Set the 'Date' column as the index. 
   
   D. Group scores by Weekly frequency

   
# Problem 3 
    A. Import test_scores_2001.csv
    
    B. Convert the 'Date' column to a datetime type.
    
    C. Return rows with Dates between 7/1/2022 and 12/1/2022

# Problem 4
 
    A. Import test_scores_2001.csv
    
    B. Convert the 'Date' column to a datetime type. 
    
    C. Set the 'Date' column as the index. 
    
    D. Use loc to retrieve all rows from 2023

# Problem 5
1. Import test_scores_2001.csv
2. Perform the following tasks using Pandas operations
    1. Rename the column 'Age' to 'Number'.
    2. Drop the columns 'Last_name' and 'Number'
    3. Replace all NaN values with 0
    4. Group the data by 'Name' and calculate the mean of each group.
    5. Merge the grouped data with the original data on the 'Name' column.
    6. Sort the merged data by the 'Score' column in ascending order.
3. save the result to a new CSV file named "result.csv"